<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Base HTML</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--navbar-->
 <nav class="navbar navbar-expand-lg bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand textcolor" href="#" >Smart Contact Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-uppercase" style="margin-left:auto">
        <li class="nav-item">
          <a class="nav-link textcolor" aria-current="page" th:href="@{/}">Home</a>
        </li>
     
        
        <li class="nav-item">
          <a class="nav-link textcolor"><span th:text="${user.name}"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link textcolor" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<!-- End Of Nav Bar -->
    
    <div class="sidebar mt-1">
    	<span onclick="toggleSidebar()" class="crossBtn">&times;</span>
    	<a id="home-link" class="item" th:href="@{/user/index}"> <i class="fa-solid fa-house"></i> Home</a>
    	<a id="view-link" class="item" th:href="@{/user/show-contacts/0}"> <i class="fa-solid fa-address-book"></i> View Contacts</a>
    	<a id="add-link" class="item" th:href="@{/user/add-contact}"> <i class="fa-solid fa-plus"></i> Add Contact</a>
    	<a id="profile-link" class="item" th:href="@{/user/profile}"> <i class="fa-solid fa-id-badge"></i> Your Profile</a>
    	<a id="settings-link" class="item" th:href="@{/user/settings}"> <i class="fa-solid fa-gear"></i> Settings</a>
    	<a id="logout-link" class="item" th:href="@{/logout}"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    	<div class="divider"></div>
    </div>
    <div class="data mt-5">
    
    	<i onclick="toggleSidebar()" class="fas fa-bars mt-3"></i>
    	
    	<div th:if="${session.message}" class="container">
    		<div th:classappend="${session.message.type}" class="alert text-center" role="alert">
  			<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
    	</div>
    	
    
    	<div th:replace="${content}"></div>
    </div>
    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    

  </body>
</html>